
@font-face {
  font-family: 'TamburinModern';
  src: url('TamburinModern.eot?#iefix') format('embedded-opentype'),  url('TamburinModern.woff') format('woff'), url('TamburinModern.ttf')  format('truetype'), url('TamburinModern.svg#TamburinModern') format('svg');
  font-weight: normal;
  font-style: normal;
}
